In [1]:
%pwd

'/Users/michelle/Downloads/DS-Unit-4-Sprint-1-NLP'

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/LambdaSchool/DS-Unit-4-Sprint-1-NLP/master/module1-text-data/data/yelp_coffeeshop_review_data.csv"

shops = pd.read_csv(url)
shops.head()

,coffee_shop_name,full_review_text,star_rating
0,The Factory - Cafe With a Soul,11/25/2016 1 check-in Love love loved the atm...,5.0 star rating
1,The Factory - Cafe With a Soul,"12/2/2016 Listed in Date Night: Austin, Ambia...",4.0 star rating
2,The Factory - Cafe With a Soul,11/30/2016 1 check-in Listed in Brunch Spots ...,4.0 star rating
3,The Factory - Cafe With a Soul,11/25/2016 Very cool decor! Good drinks Nice ...,2.0 star rating
4,The Factory - Cafe With a Soul,12/3/2016 1 check-in They are located within ...,4.0 star rating

In [3]:
# Much cleaner
shops['review_text_lc'] = shops['full_review_text'].apply(lambda x: x.lower())

In [4]:
shops['lc_split'] = shops['review_text_lc'].str.split(" ")
shops['lc_split'].head(5)

0    [, 11/25/2016, 1, check-in, love, love, loved,...
1    [, 12/2/2016, listed, in, date, night:, austin...
2    [, 11/30/2016, 1, check-in, listed, in, brunch...
3    [, 11/25/2016, very, cool, decor!, good, drink...
4    [, 12/3/2016, 1, check-in, they, are, located,...
Name: lc_split, dtype: object

In [6]:
"""
Import Statements
"""

# Base
from collections import Counter
import re
 
import pandas as pd

# Plotting
import squarify
import matplotlib.pyplot as plt
import seaborn as sns

# NLP Libraries

import spacy
from spacy.tokenizer import Tokenizer
from nltk.stem import PorterStemmer

nlp = spacy.load("en_core_web_lg")

In [9]:
def tokenize(text):
    """Parses a string into a list of semantic units (words)

    Args:
        text (str): The string that the function will tokenize.

    Returns:
        list: tokens parsed out by the mechanics of your choice
    """
    
    tokens = re.sub(r'[^a-zA-Z ^0-9]', '', text)
    tokens = tokens.lower().split()
    
    return tokens

In [11]:
shops['tokens'] = shops['full_review_text'].apply(tokenize)

In [ ]:
shops